:root {
    --primary-color: #003366;
    --secondary-color: #0047AB;
    --third-color: #0055A4;
    --fourth-color: #4682B4;
    --font-color: #333;

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.fondo-azul {
    background-color: var(--primary-color);
    margin-left: 20px;
    border: 5px blue solid;
    padding: 10px 20px 30px 60px;
}

.fondo-verde {
    background-color: var(--secondary-color);
    margin-left: 20px;
    border: 5px green solid;
    padding: 10px 20px 30px 60px;
    width: 250px;
}

.fondo-celeste {
    background-color: var(--third-color);
    margin-left: 20px;
    border: 5px lightblue solid;
    padding: 10px 20px 30px 60px;
}

.fondo-amarillo {
    background-color: var(--fourth-color);
    margin-left: 20px;
    border: 5px yellow solid;
    padding: 10px 20px 30px 60px;
}

.nav-header {
    height: 100px;
    justify-content: center;
    background-color: rgb(152, 255, 255);
    border: 5px solid rgb(102, 204, 255);
}

.nav-bounds {
}

.nav-logo {
    width: 40px;
    margin: 20px;
}

aside {
    width: 250px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    min-height: 80vh;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 10px;
}

.product-item {
    background-color: rgb(219, 217, 217);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

@keyframes backgroundAnimation {
    0% { background-color: rgb(185, 183, 183); }
    50% { background-color: rgb(150, 150, 150); }
    100% { background-color: rgb(158, 157, 157); }
}

.product-item:hover {
    background-color: rgb(85, 83, 83);
    animation: backgroundAnimation 1s ease;
}

footer {
    background-color: #0a0465;
    height: 200px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
        margin-bottom: 20px;
    }
}
